<div class="container">
  play here

  @if (!isLoading) {
    <div class="container__row">
      <div>
        <h2>Hard Mode</h2>
        <p>1 try per song and clip length is 2 seconds</p>
      </div>
      <div>
        
      </div>
    </div>
  
    <div class="container__row">
      <div class="container__row__left-section">
        <h2>Specific Artist Only</h2>
        <p>Choose one artist from your most played (only your artists with at least 15 tracks are allowed)</p>
      </div>
      <div class="container__row__right-section">
        <ng-select [(ngModel)]="specificArtist" [items]="specificArtistSelection" placeholder="Search..." [searchable]="true" bindLabel="name"
          [clearable]="true">
        </ng-select>
      </div>
    </div>
  
    <button (click)="play()">
      Play
    </button>
  }
</div>