@use "../../../assets/sass/base/variables" as *;

.container {
  margin: 0px auto;
  padding: 0px 10px;

  @media only screen and (max-width: 600px) {
    width: 335px;
  }

  @media only screen and (min-width: 600px) {
    width: 500px;
  }

  @media only screen and (min-width: 768px) {
    width: 650px;
  }

  @media only screen and (min-width: 992px) {
    width: 800px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    &__time-range-select {
      font-size: larger;
      height: 40px;
      width: 120px;
      margin: auto 0px;
      background-color: #31364A;
      border-radius: 5px;
      border-width: 2px;
      border-color: #eeeeee;
      color: #eeeeee;
    }
  }

  &__mode-tabs {
    width: 100%;
    text-align: center;
    padding: 20px 0px;

    @media (max-width: 768px) {
      &--mobile {
        width: auto !important;
      }
    }
  }

  &__artist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.stats-card {
  color: $taeyeon-white;
  background-color: #212226;
  border-radius: 20px;
  text-align: left;
  cursor: pointer;

  &__track {
    width: 700px;
    max-height: 100px;
    padding: 15px 25px;
    display: inline-flex;
    margin: 5px 24px;

    &__index {
      padding: 0px 20px 0px 10px;
      min-width: 100px;
      margin: auto 0px;
    }

    &__album-cover {
      border-radius: 10px;
      max-width: 70px;
      max-height: 70px;
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px 25px;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &__text {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  &__artist {
    width: calc(25% - 40px);
    height: 220px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    overflow: hidden;

    &__profile-picture {
      border-radius: 10px;
      width: 80px;
      height: 100px;
      margin: 25px 25px 0px;
      object-fit: cover;
    }

    &__name {
      margin-top: 15px;
      font-size: large;
    }
  }

  @media (max-width: 768px) {
    &__track {
      width: 100%;
      width: 100% !important;
      padding: 10px 20px !important;
      margin: 4px auto !important;
      min-height: 64px;
  
      &__index {
        padding: 0px;
        min-width: 38px;
        margin: auto 0px;
        font-size: 18px;
      }
  
      &__album-cover {
        border-radius: 10px;
        max-width: 40px;
        max-height: 40px;
        margin: auto 0px;
      }
  
      &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px 10px;
        font-size: 12px;
  
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
  
        &__text {
          font-weight: bold;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    &__artist {
      width: calc(40% - 20px);
      height: 145px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      overflow: hidden;
  
      &__profile-picture {
        border-radius: 10px;
        width: 50px;
        height: 60px;
        margin: 10px 15px 0px;
        object-fit: cover;
      }
  
      &__name {
        margin-top: 15px;
        font-size: 12px;
      }
    }
  }
}