.container {
  margin: 0px auto;
  padding: 0px 20px;

  @media only screen and (max-width: 600px) {
    width: 335px;
  }

  @media only screen and (min-width: 600px) {
    width: 500px;
  }

  @media only screen and (min-width: 768px) {
    width: 650px;
  }

  @media only screen and (min-width: 992px) {
    width: 800px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    &__time-range-select {
      font-size: larger;
      height: 40px;
      width: 120px;
      margin: auto 0px;
      background-color: #31364A;
      border-radius: 5px;
      border-width: 2px;
      border-color: #eeeeee;
      color: #eeeeee;
    }
  }

  &__mode-tabs {
    width: 100%;
    text-align: center;
    padding: 20px 0px
  }

  &__artist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.card {
  background-color: #212226;
  border-radius: 20px;
  text-align: left;
  cursor: pointer;

  &__track {
    width: 700px;
    padding: 15px 25px;
    display: inline-flex;
    margin: 5px 24px;

    &__index {
      padding: 0px 30px 0px 10px;
    }

    &__album-cover {
      border-radius: 10px;
      max-width: 70px;
      max-height: 70px;
    }

    &__text {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px 25px;
    }
  }

  &__artist {
    width: calc(25% - 40px);
    height: 220px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    overflow: hidden;

    &__profile-picture {
      border-radius: 10px;
      max-width: 110px;
      max-height: 110px;
      margin: 25px 25px 0px;
    }

    &__name {
      margin-top: 15px;
    }
  }
}