<div class="play-container__row">
  <div class="play-container__row__left-section">
    <span>#</span>
    <span class="quiz__index">{{ heardleQuiz.quizIndex + 1 }}/5</span>
  </div>
  <div class="play-container__row__right-section">
    <span class="quiz__timer">{{timeLeft}}</span>
  </div>
</div>
<div class="play-container__row play-container__row__audio-row audio__wave audio__controls">
  <audio controls #musicPlayer class="music-player">
    <source src="{{heardleQuiz.quizTracks[heardleQuiz.quizIndex].preview_url}}" allow="autoplay" type="audio/mpeg">
  </audio>
  <div (click)="toggleAudio()" class="audio-wave">
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
    <span [ngClass]="(isTrackPlaying ? 'audio-stroke' : 'audio-stroke-paused')"></span>
  </div>
  <div>
    <button class="btn btn-primary btn__play" (click)="toggleAudio()">{{isTrackPlaying ? 'Pause' : 'Play'}}</button>
  </div>
</div>
<div class="play-container__row play-container__row__submit">
  <div id="autocomplete-container" #autocompleteContainer class="autocomplete">
    <input [(ngModel)]="filter" placeholder="Song title..." [ngClass]="(isFocusedSignal() ? 'quiz__input quiz__input--focused' : 'quiz__input')"
      class="quiz__input" (keyup)="handleKeyUp($event)" (focus)="filterTracks()">
    @if (isFocusedSignal()) {
      <div class="autocomplete__container">
        @for (track of filteredTracks; track track.id; let index = $index) {
          <div id="track-{{index}}" (keypress)="selectAnswer(index)" (click)="selectAnswer(index)" tabindex="0"
            (mouseenter)="hoverIndex = index" class="autocomplete__track" [ngClass]="(hoverIndex === index ? 'autocomplete__track--hover' : '')">
            {{track.name}} - {{track.artists[0].name}}
          </div>
        }
      </div>
    }
  </div>
  <button [disabled]="!selectedAnswer" class="btn btn-primary btn__submit" (click)="submitAnswer()">Submit</button>
</div>