html {
  background-color: #31364A;
  font-family: Arial, Helvetica, sans-serif;
  color: #eeeeee;
}

.btn {
  width: 18%;
  padding: 10px;
  background-color: #31364A;
  border: 0px;
  border-radius: 5px;
  color:#eeeeee;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.35s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &--selected {
    background-color: #6E7280;
    opacity: 1;
    border: 0px;  
  }
}


.ng-select .ng-has-value .ng-placeholder {
  display: none;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
  color: #eeeeee;
}